@import './variables.css';
@import './layout.css';

body {
  font-size: 14px;
  color: var(--dark-gray);
  font-family: 'Mont';
  font-weight: normal;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  color: black;
  font-weight: 600;
}

h1 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.28em;
}

a {
  transition: all 0.35s;
}

.navigation-menu {
  min-height: calc(100vh - 170px);
  min-width: 127px;
}

* {
  box-sizing: border-box;
}

/* Animations */

/* Pure CSS */

@keyframes fadeAppearing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleAppearing {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Vue animation */

.fade-slide-enter-from {
  transform: translateX(20px);
  opacity: 0;
}

.fade-slide-enter-active {
  transition: all 0.6s ease-in;
}

.fade-slide-leave-to {
  transform: translateX(-20px);
  opacity: 0;
}

.fade-slide-leave-active {
  transition: all 0.6s ease-in;
}

/* Form errors */
.form-errors {
  color: #d33030;
  animation: 0.4s ease-in-out 0s errorsAppearing;
  padding: 15px;
}

.under-field-error {
  padding: 5px 12px 10px;
  font-size: 11px;
  animation: 0.4s ease-in-out 0s minorErrorsAppearing;
}
